.navbar div{
    display:inline;
}
.navbar
{
    height: 75px;
    width: 100%;
    background-color: #2874f0;
    display:inline-block;
    position:fixed;
    top: 0;
    left: 0;
}
#logo
{
    margin-left: 12%;
    margin-top: 13px;
}
input
{ 
    height: 30px;
    width: 200px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px #043d98a6;
    border-radius: 3px;
    border: none;
}
.search
{
    position: relative;
    margin-left: 20px;
    background-color: #2874f0;
    top: -15px;
}
.srch
{
    height: 32px;
    width: 35px;
    position: relative;
    left: -15px;
    top: -4px;
    box-shadow: 0px 0px 10px #043d98bc;
}
button
{
    margin-left: 2px;
    box-shadow: 2px 2px rgb(120, 117, 117);
    border-radius: 4px;
    background-color: #fff;
    margin-left: 1rem;
    cursor: pointer;
    border: none;
    box-shadow: 0px 0px 10px #043d98a6;
}
button:hover
{
   box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.585);
}
input:hover{
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.585);
}
#log
{
    position: relative;
    height: 30px;
    width: 121px;
    top: -15px;
    left: -18px;
}
ul
{
    list-style: none;
}
li
{
    display: inline-block;
    padding: 1rem;
    float: right;
}
a
{
    text-decoration: none;
}