body{
    font-family: 'Poppins', sans-serif;
}
.navbar div{
    display:inline;
}
.navbar
{
    height: 75px;
    width: 100%;
    background-color: #2874f0;
    display:inline-block;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
#logo
{
    margin-left: 12%;
    margin-top: 13px;
    border-radius: 4px;
    position: relative;
    top: 4px;
}
input
{ 
    height: 30px;
    width: 200px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px #043d98a6;
    border-radius: 3px;
    border: none;
}
.search
{
    position: relative;
    margin-left: 20px;
    background-color: #2874f0;
    top: -9px;
    left: -15px;
}
::placeholder{
    font-family: 'Poppins', sans-serif;
    font-size: 12.5px;
}
.srch
{
    height: 32px;
    width: 35px;
    position: relative;
    left: -29px;
    top: 2px;
    box-shadow: 0px 0px 10px #043d98bc;
}
button
{
    margin-left: 2px;
    box-shadow: 2px 2px rgb(120, 117, 117);
    border-radius: 4px;
    background-color: #fff;
    margin-left: 1rem;
    cursor: pointer;
    border: none;
    box-shadow: 0px 0px 10px #043d98a6;
}
button:hover
{
   box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.585);
}
input:hover{
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.585);
}
#log
{
    position: relative;
    height: 30px;
    width: 121px;
    top: -9px;
    left: -33px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-shadow: 0px 0px 1px rgba(68, 67, 67, 0.641);
}
ul
{
    list-style: none;
    position:relative;
    top: -85px;
}
li
{
    display: inline;
    padding: 1rem;
    float:right;
    color: #fff;
    font-size: small;
}
a
{
    text-decoration: none;
    color: #fff;
}
select{
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.product
{
    position: absolute;
    z-index: 1;
    top: 100px;
    left: 10%;
    box-shadow: 0px 0px 10px rgba(44, 44, 44, 0.397);
    border-radius: 3px;
}
.contents
{
    position: absolute;
    top: 100px;
    left: 500px;
}
.pre
{
    height: 75px;
    width: 75px;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(44, 44, 44, 0.536);
    z-index: 3;
    border-radius: 3px;
}
.carousel
{
    position: relative;
    top: 93px;
    left: 5px;
}
.pre:hover
{
    height: 500px;
    width: 500px;
    position: absolute;
    left: 10%;
}
/*.pre1:hover{
    position: fixed;
    top: 70px;
    left: 10%;
    z-index: 3;
}*/
#rating
{
    height: 20px;
    width: 37px;
    background-color: #388e3c;
    border-radius: 3px;
}
#p
{
    text-align: center;
    color: #fff;
    font-weight: 900;
    font-size: 14px;
}
#review
{
    font-size: medium;
    font-weight: 800;
    position: relative;
    left: 50px;
    top: -22px;
    color: #878787;
}
#price h1
{
    display: inline-block;
}
#price span{
    position: relative;
    left: 10px;
}
del
{
    position: relative;
    left: 10px;
}
h4{
    display: inline;
}
span
{
    font-weight: bold;
}
#del
{
    position: relative;
    left: 30px;
}
.li{
    font-size: small;
    position: relative;
    left: 111px;
    top: -37px;
    font-weight: 400;
}
#desc
{
    font-size: small;
    position: relative;
    left: 111px;
    top: -37px;
    font-weight: 400;
}
h5
{
    color: #878787;
}
.spec span
{
    color: #878787;
}